node_modules/
dist/
target/
src-tauri/target/
src-tauri/gen/
crates/**/target/
apps/desktop/dist/
vendor/glib-0.18.5/

# generated and lock files
*.generated.*
pnpm-lock.yaml
Cargo.lock

# other
.DS_Store
